API_ID=35508890
API_HASH=a6eb1e2eb6a4fb440bc8d24c6dc18fbc
BOT_TOKEN=8602594638:AAHVpQ_d68GCjWN2zbnsRAqn5hsI6X__eu4
MONGO_DB_URI=mongodb+srv://mustafaonurslsz_db_user:Nf91GSTS8K8ZwsRI@cluster0.bvknbf9.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=PixelsMusic
OWNER_ID=8857741777
STRING_SESSION=BQId0poAJdQSX1nkFFaAZVQ-9bX7YetH7b4LjQy-k0qaYRIdx2DwkisD9FhOpuE-wUSnOR6FgP05Fn7jFR_GRDkom41x57goSoJGwT5RkdyJkRTJDejOFP93nMD6GEi0TlJrsKMEbqPP0YWfWGozQ8TDofAbJuou1W2oNaMFT4IMkj1T55B0A7ydMKI_50MJ8d2gR55I_QgmzAASfYpMAjfILfTTEf0crYveHhyg7fGB518Rm5YX_KjncIUdPGGVvADqus8G1XGm8vTRduuW4KQtYC5yM9APYyOGTXlr00Y3fbYHBDB8Im8ixhkPoYCwN-6Yc3z6IgAL_VWP4-2fSnA7VAy9MwAAAAIVDvDRAA
LOG_GROUP_ID=-1004299297214